@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

@layer components {
  .v-input {
    @apply border h-[51px] border-[#E1E1E1] rounded-lg py-[13px] px-[16px] placeholder:text-[#C1C1C1] focus:border-mRed outline-none w-full;
  }

  .v-btn {
    @apply md:px-[40px] py-[13px] h-[51px] outline-none border-none rounded-lg text-[#ffffff] text-sm bg-[#000000] font-bold uppercase btn hover:bg-mRed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #434343;
  font-family: 'Red Rose', cursive;
}

.grad-bg {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.grad-text {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}